<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <span class="fs-4">Chocolates Overview</span>
  <table class="table table-striped table-bordered mt-3">
    <thead class="table-dark">
      <tr class="align-middle">
        <th>Name</th>
        <th>Manufacturer</th>
        <th class="text-center">
          <p class="fw-bold mb-0">Lowest Price</p>
          <p class="fw-lighter mb-0">(per 100g)</p>
        </th>
        <th class="text-center">
          <p class="fw-bold mb-0">Average Price</p>
          <p class="fw-lighter mb-0">(per 100g)</p>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (chocolate of chocolates; track chocolate.id) {
      <tr>
        <td>{{ chocolate.name }}</td>
        <td>{{ chocolate.brand }}</td>
        <td class="text-center">{{ chocolate.lowestPrice | number: '1.2-2' }}</td>
        <td class="text-center">{{ chocolate.averagePrice | number: '1.2-2' }}</td>
        <td class="text-end">
          <button class="btn btn-outline-secondary shadow" *ngIf="chocolate.directLink"
            (click)="handleDirectLinkClick(chocolate.directLink)" type="button">
            Open Link
          </button>
          &nbsp;
          <a class="btn btn-secondary shadow" [routerLink]="chocolate.id">Details</a>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-paginator [pageEvent]="pagination" (pageIndexChange)="handlePageIndexChange($event)">
  </app-paginator>
</div>